# --- Core Framework ---
fastapi
uvicorn
python-multipart
pydantic
langgraph

# --- AI & RAG ---

langchain-community
langchain-huggingface
langchain-groq
langchain-openai
langchain-chroma
sentence-transformers
python-dotenv
posthog<3

# --- Fixes for Compatibility ---
# Pin Numpy to 1.x to prevent the "np.float_" error
numpy<2.0.0

# Pin Chroma and Telemetry to prevent the other crash
chromadb==0.5.0
opentelemetry-api<1.26.0
opentelemetry-sdk<1.26.0
opentelemetry-exporter-otlp-proto-grpc<1.26.0
opentelemetry-exporter-otlp-proto-common<1.26.0
opentelemetry-proto<1.26.0
opentelemetry-instrumentation<0.47b0
opentelemetry-semantic-conventions<0.47b0




# --- Data & Testing ---
pandas
openpyxl
httpx
pypdf
docx2txt
